[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "picojson_serializer"]
	path = picojson_serializer
	url = https://github.com/d-led/picojson_serializer.git
[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
[submodule "bundle"]
	path = bundle
	url = https://github.com/r-lyeh/bundle.git
